.NavigationList {
  margin-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 60px;
}

.link {
  font-size: 16px;
  color: rgb(157, 157, 157);
  text-decoration: none;
  transition: 0.2s;
}

.active {
  color: rgb(255, 255, 255);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
