.movieCastBlock {
  display: flex;
}

.castList {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.castListItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 120px;
  max-height: 270px;
}
